<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!-- Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}.%M - %msg%n%throwable"/>
        </Console>

        <!-- Info Log -->
        <RollingFile name="InfoFile"
                     fileName="../logs/info/app.log"
                     filePattern="../logs/info/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}.%M - %msg%n%throwable"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

        <!-- Error Log -->
        <RollingFile name="ErrorFile"
                     fileName="../logs/error/error.log"
                     filePattern="../logs/error/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}.%M - %msg%n%throwable"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

        <!-- Debug Log -->
        <RollingFile name="DebugFile"
                     fileName="../logs/debug/debug.log"
                     filePattern="../logs/debug/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}.%M - %msg%n%throwable"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

        <!-- SQL Log -->
        <RollingFile name="SQLFile"
                     fileName="../logs/sql/sql.log"
                     filePattern="../logs/sql/sql-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n%throwable"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Info Logger -->
        <Logger name="INFO" level="info" additivity="false">
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="Console"/>   <!-- يظهر في IntelliJ -->
        </Logger>

        <!-- Error Logger -->
        <Logger name="ERROR" level="error" additivity="false">
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="Console"/>   <!-- يظهر في IntelliJ -->
        </Logger>

        <!-- Debug Logger -->
        <Logger name="DEBUG" level="debug" additivity="false">
            <AppenderRef ref="DebugFile"/>
            <AppenderRef ref="Console"/>   <!-- يظهر في IntelliJ -->
        </Logger>

        <!-- SQL Logger -->
        <Logger name="SQL" level="debug" additivity="false">
            <AppenderRef ref="SQLFile"/>
            <AppenderRef ref="Console"/>   <!-- يظهر في IntelliJ -->
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoFile"/>
        </Root>

    </Loggers>

</Configuration>
